---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/2113024536/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"283e45c72db67df2d72484a50a2da6f6c5f8d662cbab650dd0bd0b78"'
      Last-Modified:
      - Tue, 25 Jan 2022 23:39:46 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '7'
      X-Esi-Request-Id:
      - 9c3f72e0-2fb7-4d6b-8c8f-5d460ce16b47
    body:
      encoding: ASCII-8BIT
      string: '{"alliance_id":99010079,"birthday":"2017-07-20T16:28:17Z","bloodline_id":13,"corporation_id":98613799,"description":"","gender":"male","name":"Bokobo
        Shahni","race_id":4,"security_status":0.7826388230000001}'
  recorded_at: Wed, 26 Jan 2022 20:01:40 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/2113024536/portrait/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"0353cf219257193fac80f4a2c1ee41e3215ddc9a3c55a35297e91103"
      Last-Modified:
      - Tue, 25 Jan 2022 11:04:22 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '7'
      X-Esi-Request-Id:
      - 05631327-9e2e-4ae4-a26e-02d03cffba94
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/characters\/2113024536\/portrait?tenant=tranquility&size=128","px256x256":"https:\/\/images.evetech.net\/characters\/2113024536\/portrait?tenant=tranquility&size=256","px512x512":"https:\/\/images.evetech.net\/characters\/2113024536\/portrait?tenant=tranquility&size=512","px64x64":"https:\/\/images.evetech.net\/characters\/2113024536\/portrait?tenant=tranquility&size=64"}'
  recorded_at: Wed, 26 Jan 2022 20:01:40 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99010079/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"3a82b807afcdedb8ec17551a757bd93f36e1b1f3b617095eb88f1ab1"'
      Last-Modified:
      - Wed, 26 Jan 2022 19:49:20 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '7'
      X-Esi-Request-Id:
      - bc301609-f87e-4ceb-83ff-10e5f1938c64
    body:
      encoding: ASCII-8BIT
      string: '{"creator_corporation_id":98645283,"creator_id":94809264,"date_founded":"2020-06-20T01:40:36Z","executor_corporation_id":98645283,"name":"Brave
        United","ticker":"BRUVE"}'
  recorded_at: Wed, 26 Jan 2022 20:01:41 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99010079/icons/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"0353cf219257193fac80f4a2c1ee41e3215ddc9a3c55a35297e91103"
      Last-Modified:
      - Tue, 25 Jan 2022 11:04:22 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '6'
      X-Esi-Request-Id:
      - 73de256b-667a-4524-841b-b0f86525ac40
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/Alliance\/99010079_128.png","px64x64":"https:\/\/images.evetech.net\/Alliance\/99010079_64.png"}'
  recorded_at: Wed, 26 Jan 2022 20:01:41 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/98613799/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"ea6344adf363d30b74a56437e8b1ac057b0c198f411debe0b112c537"'
      Last-Modified:
      - Wed, 26 Jan 2022 19:46:12 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '6'
      X-Esi-Request-Id:
      - 31323b2f-2ebe-4af1-8193-49f71e56cf68
    body:
      encoding: ASCII-8BIT
      string: '{"alliance_id":99010079,"ceo_id":2116142894,"creator_id":2112550682,"date_founded":"2019-09-07T17:09:22Z","description":"<font
        size=\"13\" color=\"#ff999999\"><\/font><font size=\"12\" color=\"#bfffffff\">The
        Brave Collective''s Highsecurity corporation.<br><br>Brave Empire is a non
        war-deccable corporation operating in High Sec, Low Sec &amp; Null space.
        Brave Empire is a full member of the nullsec based Brave Collective alliance
        with access to all of their space, services and resources - but with the comfort
        of a war-free highsec home so you can make the most of all space.  <br><br>We
        run fleets for all kinds of activities, from mining to gatecamps, lowsec roams
        and everything in between and have a diverse community of capsuleers with
        experience in all of it.<br><br>If you''re interested in joining please stop
        by the <\/font><font size=\"12\" color=\"#ff6868e1\"><a href=\"joinChannel:player_4620c1a1d35a11e9ac739abe94f5a43f\/\/None\/\/None\">Brave
        Empire Public<\/a><\/font><font size=\"12\" color=\"#bfffffff\"> channel in-game
        and see <\/font><font size=\"12\" color=\"#ffffe400\"><a href=\"https:\/\/wiki.bravecollective.com\/public\/corps\/brave-empire\/how-to-apply\">How
        to Apply to Brave Empire<\/a><\/font><font size=\"12\" color=\"#bfffffff\">
        for instructions on how to apply. <\/font>","home_station_id":60014104,"member_count":1706,"name":"Brave
        Empire","shares":1000,"tax_rate":0.10000000149011612,"ticker":"I-EVE","url":"https:\/\/wiki.bravecollective.com\/public\/corps\/brave-empire\/start"}'
  recorded_at: Wed, 26 Jan 2022 20:01:41 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/98613799/icons/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"ea6980bd3ff2c970d6d7ef1f064d4dac669352d491ebaa22adb52d0b"'
      Last-Modified:
      - Wed, 26 Jan 2022 19:50:18 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '6'
      X-Esi-Request-Id:
      - 34f4d438-f7e5-45da-8e7b-af65e9835897
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/corporations\/98613799\/logo?tenant=tranquility&size=128","px256x256":"https:\/\/images.evetech.net\/corporations\/98613799\/logo?tenant=tranquility&size=256","px64x64":"https:\/\/images.evetech.net\/corporations\/98613799\/logo?tenant=tranquility&size=64"}'
  recorded_at: Wed, 26 Jan 2022 20:01:41 GMT
recorded_with: VCR 6.0.0
