<section aria-labelledby="fitting-information-title">
  <div class="bg-white dark:bg-zinc-800 shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h2 id="fitting-information-title" class="text-lg leading-6 font-medium text-gray-900 dark:text-zinc-100">
        Fitting Information
      </h2>
    </div>
    <div class="border-t border-gray-200 dark:border-zinc-800 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500 dark:text-zinc-500">
            Owner
          </dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-zinc-100">
            <%= fitting.owner.name %>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500 dark:text-zinc-500">
            Last updated
          </dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-zinc-100">
            <%= local_time fitting.updated_at, format: :db %>
          </dd>
        </div>
      </dl>
    </div>
    <!--
    <div>
      <a href="#" class="block bg-gray-50 dark:bg-zinc-50 text-sm font-medium text-gray-500 dark:text-zinc-500 text-center px-4 py-4 hover:text-gray-700 dark:hover:text-zinc-300 sm:rounded-b-lg">View on wiki</a>
    </div>
    -->
  </div>
</section>
