<div class="px-4 py-5 bg-white dark:bg-zinc-800 shadow rounded-lg overflow-hidden sm:p-6"
  data-controller="stock-levels-chart"
  data-stock-levels-chart-url-value="<%= stock_levels_fitting_path(fitting) %>"
  data-stock-levels-chart-minimum-level-value="<%= fitting.safety_stock %>"
  data-stock-levels-chart-canvas-id-value="#stockLevelsChart">
  <div id="stockLevelsChart" class="h-fit" data-stock-levels-chart-target="chart"></div>
</div>
