<%= turbo_frame_tag 'market_statistics' do %>
  <%= render(CardComponent.new(title: 'Market Availability', body_class_names: '')) do |c| %>
    <% c.description do %><p class="text-gray-900 text-xs font-italic">Data refreshed every 5 minutes.<% end %>
    <% c.body do %>
      <div class="px-4 py-5">
        <%=
          line_chart [
            { name: "Avg. #{fitting.main_market.name} Sell", data: fitting.stock_levels.where(market_id: fitting.main_market.id).where('time > ?', 7.days.ago.beginning_of_day).group_by_day(:time).average(:market_sell_price) },
            { name: "Avg. #{fitting.appraisal_market.name} Sell", data: fitting.stock_levels.where(market_id: fitting.appraisal_market.id).where('time > ?', 7.days.ago.beginning_of_day).group_by_day(:time).average(:market_sell_price) }
          ], suffix: ' ISK', thousands: ','
        %>
      </div>
      <%= render(TableComponent.new) do |t| %>
        <% t.header width: '3/12' do %>Market<% end %>
        <% t.header width: '3/12' do %>On Hand<% end %>
        <% t.header width: '3/12' do %>Price (Buy)<% end %>
        <% t.header width: '2/12' do %>Price (Sell)<% end %>
        <% t.header width: '2/12' do %>Price (Split)<% end %>
        <% t.header width: '2/12' do %>Limiting Items<% end %>

        <% render 'market_availability_market', fitting: fitting, market: fitting.main_market, t: t if fitting.main_market %>

        <% Market.where(trade_hub: true).order(:name).each do |market| %>
          <% render 'market_availability_market', fitting: fitting, market: market, t: t if market %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
