<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: fittings_path do %>Fittings<% end %>
  <% end %>
<% end %>

<%= render PageHeadingComponent.new(title: 'Fittings') %>

<div class="max-w-7xl mt-4 mx-auto px-4 sm:px-6 md:px-8">
  <%= render 'fittings', fittings: @fittings, paginator: @pagy %>
</div>
