---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/98169165/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"d434f9b8537a8d146d975d152a4a832c49192d6d551d4a8337a57ca7"'
      Last-Modified:
      - Thu, 27 Jan 2022 20:19:14 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '20'
      X-Esi-Request-Id:
      - b72342dd-c6e4-446d-9156-6f3ac86700cc
    body:
      encoding: ASCII-8BIT
      string: '{"alliance_id":99003214,"ceo_id":92888420,"creator_id":92838890,"date_founded":"2013-01-30T23:39:04Z","description":"<font
        size=\"13\" color=\"#ff999999\"><\/font><font size=\"12\" color=\"#bfffffff\">Audaces
        Fortuna Juvat<br><br>Join us and play EVE like it was meant to be played.<br><br>CEO:  <\/font><font
        size=\"12\" color=\"#ffd98d00\"><a href=\"showinfo:1375\/\/92888420\">Cagali
        Cagali<\/a><\/font><font size=\"12\" color=\"#bfffffff\"> <br>Directors:  <\/font><font
        size=\"12\" color=\"#ffd98d00\"><a href=\"showinfo:1375\/\/1065781147\">Jinx
        De''Caire<\/a><\/font><font size=\"12\" color=\"#bfffffff\"> <br><\/font><font
        size=\"12\" color=\"#ffd98d00\"><a href=\"showinfo:1375[...]
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99003214/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"20586886495c1f21c4522323fc69ab262101e36c35b92bdb8164763c"'
      Last-Modified:
      - Thu, 27 Jan 2022 20:19:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '20'
      X-Esi-Request-Id:
      - 4cccd74c-4722-4708-9ecf-761ec0419956
    body:
      encoding: ASCII-8BIT
      string: '{"creator_corporation_id":98199293,"creator_id":91432281,"date_founded":"2013-05-06T22:20:14Z","executor_corporation_id":98199293,"name":"Brave
        Collective","ticker":"BRAVE"}'
  recorded_at: Thu, 27 Jan 2022 20:23:27 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99003214/icons/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"fbbd2b00d2485b4f48f754f65058b1dce6c55a5f9dd315d8bb9fbda4"
      Last-Modified:
      - Thu, 27 Jan 2022 11:12:26 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '20'
      X-Esi-Request-Id:
      - 7415e26c-a81f-479e-bca4-59e3cc2423b8
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/Alliance\/99003214_128.png","px64x64":"https:\/\/images.evetech.net\/Alliance\/99003214_64.png"}'
  recorded_at: Thu, 27 Jan 2022 20:23:27 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/98169165/icons/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"5841a20c9036c8443a8314c818b240e343af68fb85194a968734f1e0"'
      Last-Modified:
      - Thu, 27 Jan 2022 20:20:29 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '20'
      X-Esi-Request-Id:
      - 1c941d9d-5321-4e6a-983b-ecbfd2f7c19d
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/corporations\/98169165\/logo?tenant=tranquility&size=128","px256x256":"https:\/\/images.evetech.net\/corporations\/98169165\/logo?tenant=tranquility&size=256","px64x64":"https:\/\/images.evetech.net\/corporations\/98169165\/logo?tenant=tranquility&size=64"}'
  recorded_at: Thu, 27 Jan 2022 20:23:27 GMT
recorded_with: VCR 6.0.0
