---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/universe/groups/4165/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en
      Etag:
      - W/"0353cf219257193fac80f4a2c1ee41e3215ddc9a3c55a35297e91103"
      Last-Modified:
      - Tue, 25 Jan 2022 11:04:22 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '32'
      X-Esi-Request-Id:
      - 768e8b3c-ca15-4d1f-b00b-fe4987ae3903
    body:
      encoding: ASCII-8BIT
      string: '{"category_id":17,"group_id":4165,"name":"Peculiar Materials","published":true,"types":[62031,62032,62033,62034,62035,62036,62037,62038,62039,62040,62041,62042,62043,62044,62045]}'
  recorded_at: Wed, 26 Jan 2022 19:49:16 GMT
recorded_with: VCR 6.0.0
