<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: types_path do %>Types<% end %>
  <% end %>
<% end %>

<%= render PageHeadingComponent.new(title: 'Types') %>

<div class="max-w-7xl mt-4 mx-auto px-4 sm:px-6 md:px-8">
  <%= render 'types', types: @types, paginator: @pagy %>
</div>
