---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/universe/stations/60003760/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"0353cf219257193fac80f4a2c1ee41e3215ddc9a3c55a35297e91103"
      Last-Modified:
      - Tue, 25 Jan 2022 11:04:22 GMT
      X-Esi-Error-Limit-Remain:
      - '91'
      X-Esi-Error-Limit-Reset:
      - '26'
      X-Esi-Request-Id:
      - 34f344be-2b4e-4cc7-988e-784c3d37737e
    body:
      encoding: ASCII-8BIT
      string: '{"max_dockable_ship_volume":50000000.0,"name":"Jita IV - Moon 4 - Caldari
        Navy Assembly Plant","office_rental_cost":1511702908.0,"owner":1000035,"position":{"x":-107303362560.0,"y":-18744975360.0,"z":436489052160.0},"race_id":1,"reprocessing_efficiency":0.5,"reprocessing_stations_take":0.05,"services":["bounty-missions","courier-missions","reprocessing-plant","market","repair-facilities","factory","fitting","news","insurance","docking","office-rental","loyalty-point-store","navy-offices","security-offices"],"station_id":60003760,"system_id":30000142,"type_id":52678}'
  recorded_at: Wed, 26 Jan 2022 20:10:21 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/1000035/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"d42ccce6de8debcae7b65a1154ce3e8c2565f9449abec5f3a387ddc2"'
      Last-Modified:
      - Wed, 26 Jan 2022 20:00:41 GMT
      X-Esi-Error-Limit-Remain:
      - '91'
      X-Esi-Error-Limit-Reset:
      - '26'
      X-Esi-Request-Id:
      - 80c6e9f8-b824-4e22-a168-a9e2438d1745
    body:
      encoding: ASCII-8BIT
      string: '{"ceo_id":3004069,"creator_id":1,"description":"The Caldari Navy is
        smaller in personnel and total ships than both the Federation Navy and the
        Imperial Navy, yet they have more battleships than any other fleet and the
        average age of the Caldari ships is considerably less. This is because the
        Caldari are constantly replacing their oldest ships with newer ones, with
        better hi-tech equipment. The strategic doctrine of the Caldari Navy is simple:
        to be able to defeat any other navy in the world. Most experts believe it
        is.","home_station_id":60003754,"member_count":159,"name":"Caldari Navy","shares":100000000,"tax_rate":0.0,"ticker":"CN","url":""}'
  recorded_at: Wed, 26 Jan 2022 20:10:21 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/1000035/icons/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"b24698ae59beee213404b5d1fe83331d1ee3360dac15660246d2e0a2"'
      Last-Modified:
      - Wed, 26 Jan 2022 20:10:34 GMT
      X-Esi-Error-Limit-Remain:
      - '91'
      X-Esi-Error-Limit-Reset:
      - '26'
      X-Esi-Request-Id:
      - d7c33a0e-fa1f-40fd-9e44-5b9b2734265f
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/corporations\/1000035\/logo?tenant=tranquility&size=128","px256x256":"https:\/\/images.evetech.net\/corporations\/1000035\/logo?tenant=tranquility&size=256","px64x64":"https:\/\/images.evetech.net\/corporations\/1000035\/logo?tenant=tranquility&size=64"}'
  recorded_at: Wed, 26 Jan 2022 20:10:22 GMT
recorded_with: VCR 6.0.0
