<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <%= image_tag main_alliance_logo_url, class: 'mx-auto h-30 w-auto', alt: '' %>
    </div>
    <div class="mt-8 space-y-6">
      <div>
        <%= form_with url: '/auth/eve' do |f| %>
          <%= f.submit 'Log in with EVE SSO', type: :image, src: asset_pack_path('media/images/eve-sso-login-black-small.png'), class: 'relative flex justify-center mx-auto', 'data-turbo': false %>
        <% end %>
      </div>
    </form>
  </div>
</div>
