<div class="space-y-8 mt-4">
  <div class="bg-white border-t border-b border-gray-200 shadow-sm sm:border sm:rounded-lg divide-y divide-gray-200">
    <%= render 'order_summary_items', order: order %>

    <%= render 'order_summary_info', order: order %>
  </div>
</div>
