<div class="space-y-8 mt-4">
  <div class="bg-white dark:bg-zinc-800 dark:bg-zinc-800 border-t border-b border-gray-200 dark:border-zinc-800 shadow-sm sm:border sm:rounded-lg divide-y divide-gray-200 dark:divide-zinc-800">
    <%= render 'order_summary_items', order: order %>

    <%= render 'order_summary_info', order: order %>
  </div>
</div>
