<div class="relative" data-hovercard-target="card">
  <div class="absolute bottom-8 left-0 z-50 bg-white shadow-lg rounded-lg min-w-max-content">
    <table class="table-auto w-56 divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-2 py-2 text-left text-[0.625rem] font-medium text-gray-500 uppercase tracking-wider">
            Item
          </th>
          <th scope="col" class="w-24 px-2 py-2 text-left text-[0.625rem] font-medium text-gray-500 uppercase tracking-wider">
            Quantity
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @items.each do |item| %>
          <tr>
            <td class="px-2 py-2 whitespace-nowrap text-[0.625rem] font-medium text-gray-900">
              <%= item.name %>
            </td>
            <td class="px-2 py-2 text-[0.625rem] font-medium">
              <%= number_with_delimiter item.quantity_required %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
